@import '../../scss/index.scss';

.ui.grid {
  margin: 0.2rem;
}

.logo {
  height: 30px;
  width: 100%;
  margin: 10px 0;
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  background-color: $background-grey;

  &__left {
    background-color: $background-dark;
  }
  
  &__h4, &__h6 {
    color: $text-light;
  }
  
}